@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.containe{
  max-width: 1270px;
  margin: 0 auto;
}
:root {
  --color-primary: #fff;
  --color-secondary: #000;
  --color-proton: #000;
  --box-color: rgba(0, 0, 0, 0.0562443);
  --nav-color: #FFFFFF;
   --white: #f1eaea;
  --black: #181717;
  --hue: 223;
  --load: #1c232a;
  --bg: hsl(var(--hue),10%,90%);
  --fg: hsl(var(--hue),10%,10%);
  font-size: calc(10px + (24 - 18) * (100vw - 320px) / (1280 - 320));
  --ism: rgba(0, 0, 0, 0.802);
  --user-bac: white;
  --button: white;
  --search: white;
  --input: #FFFFFF;
  --nav-email: wheat;
  --inp-border: rgba(0, 128, 0, 0.453);
  --car-background: rgba(255, 255, 255, 0.161);
}

.dark {
  --color-primary: #000;
  --color-secondary: #fff;
  --color-proton: #d3d3d3;
  --box-color: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
  --nav-color: #303b46;
  --bacground: #202C36;
  --ism: #A5C9CA;
  --user-bac: #2f3f3f;
  --button: rgba(29, 28, 28, 0.311);
  --search: #c2c0c0;
  --input: #313b48;
  --nav-email: rgba(245, 222, 179, 0);
  --inp-border: rgba(255, 255, 255, 0.657);
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#loading{
    position: fixed;
    background-color: var(--load);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    transition: .5s; 
  }
#loading.loading-none {
    opacity: 0;
    z-index: -1;
}
.pl,
.pl__worm {
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.pl {
  animation-name: bump;
  animation-timing-function: linear;
  width: 8em;
  height: 8em;
}
.pl__ring {
  stroke: hsla(var(--hue),10%,10%,0.1);
  transition: stroke 0.3s;
}
.pl__worm {
  animation-name: worm;
  animation-timing-function: cubic-bezier(0.42,0.17,0.75,0.83);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue),10%,10%);
    --fg: hsl(var(--hue),10%,90%);
  }
  .pl__ring {
    stroke: hsla(var(--hue),10%,90%,0.1);
  }
}

/* Animations */
@keyframes bump {
  from,
  42%,
  46%,
  51%,
  55%,
  59%,
  63%,
  67%,
  71%,
  74%,
  78%,
  81%,
  85%,
  88%,
  92%,
  to { transform: translate(0,0); }
  44% { transform: translate(1.33%,6.75%); }
  53% { transform: translate(-16.67%,-0.54%); }
  61% { transform: translate(3.66%,-2.46%); }
  69% { transform: translate(-0.59%,15.27%); }
  76% { transform: translate(-1.92%,-4.68%); }
  83% { transform: translate(9.38%,0.96%); }
  90% { transform: translate(-4.55%,1.98%); }
}
@keyframes worm {
  from { stroke-dashoffset: 10; }
  25% { stroke-dashoffset: 295; }
  to { stroke-dashoffset: 1165; }
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}


body {
  background-color: var(--bacground) !important;
  color: var(--color-secondary) !important;
  transition: all .5s ease-out;
}


nav{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1rem;
  box-shadow: 0px 2px 4px var(--box-color);
  z-index: 999;
  background: var(--nav-color);
  width: 100%;
  transition: all .6s ease-out;
}
.na{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: .7rem;
  padding-bottom: .4rem;
}
nav .na a .inp-box ul{
  display: flex;
}
nav .na p{
  text-decoration: none !important;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0rem 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}
nav .nav-email{
  color: var(--color-proton);
}

.inp-box{
  width: 45%;
  background-color: rgba(245, 222, 179, 0.04);
  border-radius: 4px;
  border: 1px solid var(--inp-border);
  display: flex;
  align-items: center;
  padding: 0.3rem;
}
.inp-box input{
  font-size: 14px !important;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-proton);
}


nav ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 10px;
  color: var(--color-proton);
}

.btn{
  font-size: 10px;
  background-color: transparent;
  color: var(--color-proton);
  cursor: pointer;
  padding: 2px 5px;
  border: 1px solid var(--inp-border);
}

#nav-mode_switch {
  background: transparent;
  outline: none;
  color: var(--color-secondary);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding-right: 10px;
}

body.dark #nav-mode_switch .fa-sun {
  display: none;
  font-size: .9rem;
}

body.dark #nav-mode_switch .fa-moon {
  font-size: .9rem;
  display: block;
}
span{
  font-weight: 500;
}


#nav-mode_switch .fa-moon {
  display: none;
}


.pagination{
  margin-bottom: 25px;
}
.users-row{
  width: 100%;
  height: auto;
  background-position: center;
  /* background-image: url(./back.png); */
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 20px;
  transition: 0.5s;
}

.card{
  width: 90%;
  margin: auto;
  padding: 10px 10px;
  background: var(--car-background) !important;
  border-radius: 9px;
  border: 1px solid rgba(128, 128, 128, 0.492);
  transition: .7s;
  margin-bottom: 30px;
}
.card:hover{
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.065), 0 3px 6px rgba(0, 0, 0, 0.286);
  transform: translateY(-9px);
}
.card img{
  width: 100%;
  height: 230px;
  margin-bottom: 10px;
}
.card h2{
  font-size: 14px;
  font-weight: 600;
  margin: 7px 0px;
}

.Margin{
  padding-top: 15px;
}
h2{
  display: flex;
  justify-content: space-between;
}
.Ism{
  color: var(--ism);
}
.bt{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 13px;
  width: 100%;
}

.profile-details {
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 9px 0;
  text-align: center;
  background-color: var(--button) !important;
  transition: .5s;
}

.a2{
  margin-top: 10px;
}

a{
   color: var(--color-proton) !important;
   text-decoration: none !important;
}
.profile-details:hover{
  transform: translateY(-5px);
}


.card p{
  color: var(--load);
  font-size: 16px;
  margin: 14px 0px;
}

.card .links img{
  width: 40px;
  border-radius: 50%;
  margin: 5px 5px;
}
.card .links img:hover{
  background: #ff01cf;
}






@media (max-width:940px) {
  .users-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  }
  .card{
  width: 94%;
  }
  .card img{
  width: 100%;
  height: 270px;
  margin-bottom: 10px;
  }
}

@media (max-width:690px) {
  .Cards{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 15px;
  }
  .card{
  width: 65%;
  margin: auto;
  max-width: 3000px;
  }
}
@media (max-width:520px) {
  .Cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .card{
  width: 85%;
  margin: auto;
  max-width: 3000px;
  }
}
@media (max-width:450px) {
  .card{
  width: 99%;
  margin: auto;
  max-width: 3000px;
  }
}